@charset "UTF-8";
/* Animaciones */
@keyframes fadeLogo {
  0% {
    opacity: 0; }
  90% {
    opacity: 1; } }

/* NORMALIZADOR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* estilo general del cuerpo */
html {
  font-size: 62,5%;
  word-spacing: 0.3em;
  letter-spacing: 0.03em; }

body {
  font-family: "Urbanist", sans-serif;
  background-color: rgba(250, 249, 249, 0.965);
  margin: 0 0.5rem;
  padding: 0 1rem;
  width: 100%;
  overflow-x: hidden;
  display: grid;
  grid-template-areas: "header1 header1" "article aside" "article2 aside" "article3 aside" "footer footer";
  grid-template-rows: 45vh auto auto auto 13vh;
  grid-template-columns: 2fr 1fr;
  row-gap: 2rem;
  column-gap: 1rem;
  justify-content: stretch; }

.section {
  border-top: black;
  border-top-width: 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-style: solid;
  box-sizing: border-box;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  grid-area: article; }

iframe {
  width: 18vw;
  height: 25vh;
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  border-radius: 3px; }

/* formato sidebar contratos destacados*/
.sidebar {
  margin-left: 2rem;
  box-sizing: border-box;
  display: inline-block;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 3px;
  height: 70%;
  grid-area: aside;
  margin-top: 6rem; }
  .sidebar h3 {
    color: #1B7340;
    font-weight: bold;
    text-align: center; }
  .sidebar:hover {
    background-color: #D6F5D5;
    transform: scale(1.1, 1.1); }
  .sidebar div dl dt a {
    text-decoration: none;
    color: #1B7340;
    font-weight: bold; }
  .sidebar .conDest {
    padding: 1rem; }
    .sidebar .conDest dt {
      padding: 0.5rem; }

/* Header, logo y navBar */
header {
  background-image: url(../MULTIMEDIA/Reduce-reuse-recycle-e1531902642428.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  box-sizing: border-box;
  height: 35rem;
  border-radius: 0.3rem;
  grid-area: header1;
  position: relative; }
  header .d-block {
    height: 25rem; }
  header .header__dataDiv__dataTable {
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    background-image: linear-gradient(to bottom, #1b7340, #2e7f4c, #3f8b58, #4f9765, #5ea372, #6eae7e, #7db88a, #8cc397, #9fcfa6, #b1dcb5, #c4e8c5, #d6f5d5);
    color: whitesmoke;
    height: 3.5rem;
    border-radius: 0.5rem; }
  header .header__logo {
    position: absolute;
    top: 4rem; }
    header .header__logo picture img {
      width: 50%;
      margin-top: 3.8rem;
      margin-left: 2rem;
      border-radius: 50%;
      animation-duration: 2s;
      animation-name: fadeLogo; }

/*NavBar*/
.navbar {
  border-radius: 0.5rem !important;
  background-color: #1B7340 !important; }
  .navbar div div ul li a {
    color: whitesmoke !important;
    font-size: 1.3em !important; }
    .navbar div div ul li a:hover {
      background-color: #72B384;
      border-radius: 0.3rem; }
  .navbar .dropdown-menu {
    background-color: #1B7340 !important; }

/* Footer */
footer {
  background-image: linear-gradient(to top, #1b7340, #2e7f4c, #3f8b58, #4f9765, #5ea372, #6eae7e, #7db88a, #8cc397, #9fcfa6, #b1dcb5, #c4e8c5, #d6f5d5);
  border-radius: 0.5rem;
  grid-area: footer; }
  footer .contactoLink {
    margin-left: 2rem;
    padding-top: 3rem; }
    footer .contactoLink a {
      color: white;
      text-decoration: none; }
  footer .rrss {
    text-align: right;
    margin-right: 1rem;
    padding-bottom: 2rem; }
    footer .rrss button {
      padding: 0.4rem;
      border-radius: 5%; }
      footer .rrss button a {
        text-decoration: none;
        color: #1B7340;
        font-weight: bold; }
      footer .rrss button:hover {
        background-color: #72B384; }

/* INDEX */
/* Sección principal */
main {
  margin-top: 6rem; }

.section__indexArticle {
  font-size: 1em;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  box-sizing: border-box; }
  .section__indexArticle h2 {
    font-size: 1.5em;
    color: #1B7340; }
  .section__indexArticle .textoArticulo {
    margin-bottom: 0.5rem;
    line-height: 2.5em;
    text-align: justify;
    display: inline-block;
    width: 100%; }
  .section__indexArticle .indexImage2, .section__indexArticle .picture2Index {
    width: 20vw;
    height: 20vh;
    margin-top: 4rem; }
  .section__indexArticle .picture2Index {
    margin-right: 1.5rem; }
  .section__indexArticle picture img {
    width: 20vw;
    height: 20vh;
    border-radius: 3px;
    max-width: 400px;
    box-sizing: border-box; }

/* RESPONSIVE */
@media only screen and (max-width: 1230px) {
  iframe {
    width: 40vw;
    height: 30vh; } }

@media only screen and (max-width: 992px) {
  body {
    font-family: "Urbanist", sans-serif;
    background-color: whitesmoke;
    margin: 0 0.5rem;
    padding: 0 1rem;
    width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-areas: "header1" "article" "article2" "article3" "aside" "footer";
    grid-template-rows: 45vh auto auto auto auto 13vh;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    justify-content: stretch; }
  header {
    height: 30vh; }
  main {
    margin-top: 4rem; }
  .row {
    display: block; }
  .indexArticle {
    margin-top: 2rem; }
  iframe {
    width: 95%; }
  .indexImage2, .section__indexArticle .picture2Index {
    width: 100vw;
    height: 20vh;
    margin-top: 2rem; }
  .picture2Index {
    width: 100vw;
    height: 20vh;
    margin-right: 1.5rem; }
  .section__indexArticle picture img {
    width: auto;
    height: auto;
    justify-content: center;
    padding-left: 2rem;
    max-width: 500px; }
  .sidebar {
    margin-left: 0;
    padding: 0; } }

/* NOSOTROS */
/* Mision, Vision, Valores */
.nosotros {
  margin-top: 4rem;
  display: flex; }
  .nosotros h2 {
    color: #1B7340;
    font-size: 1.5em;
    margin: 1em; }
  .nosotros p {
    line-height: 2rem;
    padding: 1rem;
    text-align: justify; }
  .nosotros picture img {
    max-width: 400px;
    margin-top: 7rem; }

.nosotros2 {
  display: flex;
  flex-direction: row-reverse; }
  .nosotros2 h2 {
    color: #1B7340;
    font-size: 1.5em;
    margin: 1em; }
  .nosotros2 p {
    line-height: 2rem;
    padding: 1rem;
    text-align: justify; }
  .nosotros2 picture img {
    max-width: 400px;
    margin-top: 7rem; }

.articleGrid1 {
  grid-area: article; }

.articleGrid2 {
  grid-area: article2; }

.articleGrid3 {
  grid-area: article3; }

/* RESPONSIVE */
@media only screen and (max-width: 1400px) {
  .nosotros {
    display: flex;
    flex-direction: column; }
    .nosotros picture img {
      width: 80vw;
      max-width: none;
      margin-top: 1rem; }
  .nosotros2 {
    display: flex;
    flex-direction: column; }
    .nosotros2 picture img {
      width: 80vw;
      max-width: none;
      margin-top: 1rem; } }

@media only screen and (max-width: 992px) {
  body {
    grid-template-areas: "header1" "article" "article2" "article3" "aside" "footer";
    grid-template-rows: 45vh auto auto auto auto 13vh;
    grid-template-columns: 1fr;
    row-gap: 2rem; }
  header {
    height: 30vh; }
  main {
    margin-top: 4rem; }
  .row {
    display: block; }
  .indexArticle {
    margin-top: 2rem; }
  iframe {
    width: 95%; }
  .indexImage2, .section__indexArticle .picture2Index {
    width: 100vw;
    height: 20vh;
    margin-top: 2rem; }
  .picture2Index {
    width: 100vw;
    height: 20vh;
    margin-right: 1.5rem; }
  .section__indexArticle picture img {
    width: auto;
    height: auto;
    justify-content: center;
    padding-left: 2rem;
    max-width: 500px; }
  .sidebar {
    margin-left: 0;
    padding: 0; } }

/* VENDER */
/* Info de la sección y avisos de venta */
.titulos {
  color: #1B7340;
  margin: 0.5rem;
  font-size: 1.5em; }

.articuloVender p {
  line-height: 2rem; }

.tableGeneric {
  margin-top: 2rem;
  border-radius: 0.5rem;
  border-collapse: collapse;
  border: #1B7340 3px solid;
  background-color: #D6F5D5; }

.avisosVenta {
  color: #1B7340;
  font-size: 1.5em;
  margin-bottom: 1.5rem;
  margin-left: 1rem; }

article table {
  border-radius: 0.3rem;
  margin-left: 1rem; }

.tablaVendedores th {
  color: #1B7340;
  font-weight: bold;
  padding: 1rem; }

article table tr td {
  padding: 1rem; }

.sectionGen2 {
  display: flex;
  align-items: center;
  text-align: justify; }

.genArticle {
  width: 55%; }

/* Formulario de venta */
.sidebar1 {
  grid-area: aside; }

.formulario1:hover {
  background-color: #D6F5D5; }

.formulario1 {
  padding: 1rem; }

main section aside form div {
  margin: 1em; }

.tituloForm {
  color: #1B7340;
  margin-bottom: 1.5rem; }

.segundoForm {
  color: #1B7340; }

.sectionGen {
  display: flex; }

.generic1 {
  width: 70%; }

.elemento {
  width: 100%; }

/* 404 */
article {
  box-sizing: border-box;
  background-color: whitesmoke;
  margin: 2rem;
  justify-content: cent;
  align-items: center; }
  article div {
    justify-content: center;
    align-items: center;
    text-align: center; }
    article div h1 {
      font-size: 2em;
      color: #1B7340; }
    article div p {
      font-size: 1.4em;
      color: #72B384; }
    article div button {
      border-radius: 10px;
      background-color: #72B384;
      color: #1B7340;
      padding: 0.5rem; }
      article div button:hover {
        background-color: #D6F5D5;
        animation-delay: 1s;
        border-radius: 10px; }
      article div button a {
        color: #1B7340;
        font-size: 1.1em;
        padding: 0.5rem;
        text-decoration: none;
        font-weight: bold; }
