//VARIABLES
$primary: #1B7340;
$secondary: #D6F5D5;
$secondgradient: #72B384;
$back-letter: whitesmoke;
$main-font-family: 'Urbanist', sans-serif;
$genWidth: 1200px;
$genHeight: 1200px;
$borderRadius: 10px;
